  /* BUTTONS STUFF */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');



@font-face {
    font-family: HeaderFont;
    src: url(ChakraPetch-BoldItalic.ttf); }


body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}





img{
    display: flex;
    position: absolute;
    z-index: 700;
    width: 250px;
    left: 50%;
    top: 220px;
    transform: translateX(-50%);
}

/* BLOB STUFF */

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    padding-right: 150px;

}

.blob{
    position: absolute;
    width: 900px;
    height: 900px;

}

.blob:nth-child(2){
    filter: blur(50px);
}
/* END BLOB STUFF */
  

.item2 {
    margin-right: 50px;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 700;
    border: 0px solid #ffffff;
    text-align:center;
    padding-right: 25%;
    padding-left: 25%;
  }




.body_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    top: 40px;

}

#a1{
    position: relative;
    display: block;
    padding: 15px 30px;
    margin: 50px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
#a1:hover{
    border-radius: 15px;
    background: transparent;
    color: #f2f5ee;
    box-shadow: 
                0 0 50px #f0f0f0,
                0 0 200px #fafafa;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.333));
}


#a3{
    position: relative;
    display: block;
    padding: 15px 30px;
    margin: 50px 0;
    color: #fff8f8;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
#a3:hover{

    background:transparent;
    border-radius: 15px;
    color: #f1f3ef;
    box-shadow: 0 0 5px #76caf1,
                0 0 25px #76caf1,
    0 0 50px #f0f0f0,
    0 0 200px #fafafa;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.333));
}


#a2{
    position: relative;
    display: block;
    padding: 15px 30px;
    margin: 50px 0;
    color: #fffbfb;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
#a2:hover{

    background:transparent;
    border-radius: 15px;
    color: #f1f3ef;
    box-shadow: 0 0 5px #76caf1,
                0 0 25px #76caf1,
    0 0 50px #f0f0f0,
    0 0 200px #fafafa;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.333));
}


  /*MOBILE USERS VIEW*/
  @media only screen and (max-width: 300px) 
  {

    img{
        display: flex;
        position: absolute;
        z-index: 999;
        width: 250px;
        left: 50%;
        top: 24%;
        transform: translateX(-50%);
        padding-bottom: 20px;
    
    }


    .item2 {
        margin-right: 50px;
        top: 32%;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 700;
        border: 0px solid #ffffff;
        text-align:center;
        padding-right: 25%;
        padding-left: 25%;
      }
    
    
    /* BLOB STUFF */
    
    section{
        display:none;
    
    }
    
    .blob{
         display:none;
    }
    
    .blob:nth-child(2){
        display:none;
    }
    /* END BLOB STUFF */
    
    
        
    body{
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;

    }
    
    #blob-img{
        width: 100%;
        height: 100vh; /* This makes the container take up the full viewport height */
        position: absolute;
        background-image: url('blob1.gif');
        background-size: cover; /* Adjust how the background image is sized */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; 
    }

  } 
