/*secondary color blue #76caf1;  */
/*main color blue #08a4e9;  */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Pixelify+Sans&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color:#08a4e9 ;
    font-family: 'Pixelify Sans', cursive;
    left: 0;
    justify-content: start;
    
}

.back-img{
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    position: fixed;
    z-index: -555;
    filter: blur(0.7px); 
    top:40%;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(166, 181, 196);
    border: 2px solid rgba(255, 255, 255, 0.507);
    display: flex; /* Use flexbox to arrange sections horizontally */
    justify-content: space-between; /* Spread sections across the nav */
    align-items: center; /* Vertically center the content within sections */
    z-index: 800;
}

.section h2 {
    margin: 0;
    font-size: 12px; /* Adjust the font size as needed */
    margin-top: 18px;
    text-align: center;
    
}

/* Add additional styles for each section as needed */
.left-nav {
    display: flex;
    height: 50px; /* Set a specific height */
    width: 350px;
    background-color: rgb(166, 181, 196);
    border: 2px solid rgba(255, 255, 255, 0.507);
    overflow: hidden;
    justify-content: space-evenly;
    
}



.right-nav {
    height: 50px; /* Set a specific height */
    width: 250px;
    background-color:  rgb(166, 181, 196);
    border: 2px solid rgba(255, 255, 255, 0.507);
    display: flex;
    align-items: center;
    overflow: hidden;
}


 /* START OF LEFT NAV */

.start-btn{
    position: inherit;
    display: inline-flex;
    margin: 5px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 160px;
    height: 35px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    filter: blur(0.5px); 
}

.start-btn:hover{
     background-color:  rgba(255, 255, 255, 0.63);
     
}

#start-txt{
    position: inherit;
    font-size: 25px;
    top:-30px;
    filter: blur(0.5px); 
    
}

#start-img{
    position: inherit;
    width: 46px;
    padding: 5px;
    transform: rotate(-20deg);
    filter: blur(0.5px); 
}

#note-icon{
    position: inherit;
    width: 40px;
    padding: 5px;
    margin-left: 30px;
    cursor: pointer;
    filter: blur(0.7px); 
}

#note-icon:hover{
    background:rgba(255, 255, 255, 0.63);
}

#e-icon{
    margin-top: -3px;
    width: 55px;
    height: 55px;
    margin-left: 30px;
    cursor: pointer;
    filter: blur(0.5px); 
}



#e-icon:hover{
    background:rgba(255, 255, 255, 0.63);
}

.start-icons{
    display: flex;
    width: 200px;
    border-left: 3px solid white;
    filter: blur(0.5px); 
}

 /* END OF LEFT NAV */


 /* START OF RIGHT NAV */

#clock{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 18px;
    filter: blur(0.52px); /* Apply a blur effect with a 5px radius */
    text-align: right;
    margin-right: 30px;
    cursor: default;
}

.icon{
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    filter: blur(0.7px); 
}

.icon:hover{
    background:rgba(255, 255, 255, 0.63);
}

 /* END OF RIGHT NAV */



 /* END OF HOME */

.page-container {
    width: 100%;
    display: grid;
    left: 0;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    gap: 20px; /* Add spacing between columns and rows */
    margin: 0 auto; /* Center the layout horizontally */
    justify-content: start; /* Start the grid from the left */
}

.column {
    position: fixed;
    left: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Target every nth child of .column and apply margin-left */
.column:nth-child(2n) {
    margin-left: 86px;
}


.row {
    width: 60px;
    padding: 12px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 62px;
}


.home-icon{
    cursor: pointer;
    filter: blur(0.7px); 
}


.row:hover{
    background-color: rgba(110, 184, 245, 0.486);
}

header{
    cursor: pointer;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

 /* END OF HOME */



 /* START OF MSGS */
 .msg-container{
    background: rgb(241, 240, 240);
    z-index: 999;
    position: absolute;
    width: 30%;
    height: 200px;
     left:40%;
     top: 100px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    display: none;
 }

 #header{
    background: rgb(12, 8, 212);
    display: flex;
    z-index: 999;
    width: 99.2%;
    height: 13%;
    text-align: center;
    cursor: default;
    justify-content: space-between;
    margin: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    
 }

 #header-x{
   justify-content: center;
   align-items: center;
   display: flex;
 }

 #header-x h6{
     background: rgb(241, 240, 240);
    display: flex;
    z-index: 999;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin: 4px;
     margin-bottom: 5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
     align-items: center;
    
 }

 
 #header-x h6:hover{
    background: rgb(255, 25, 25);
    color: white;
 }

 .title-msg{
   color: white;
   width: 10px;
   padding: 2px;
   text-align: left;
   justify-content: left;
    bottom: 0;
     width: 90%;
     padding-left: 10px;
}

#body-msg{
    cursor: default;
    font-size: 25px;
    padding-top: 20px;
    width: 100%;
    text-align: center;    
}

.msg-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btn{
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.btn:hover{
    background:rgba(255, 255, 255, 0.63);
}

.btn:nth-child(2) {
    margin-left: 80px;
}


/* Styles for the notepad container */
#notepad-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: hidden;
    
}

/* Styles for the notepad input */
#notepad-input {
    width: 99%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
}


.notepad-header{
    background: rgb(12, 8, 212);
    display: flex;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 10%;
    text-align: center;
    cursor: default;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    
 }

 .exit-x{
   justify-content: center;
   align-items: center;
   display: flex;
 }

 
 .exit-x h6{
    background: rgb(241, 240, 240);
   display: flex;
   z-index: 999;
   width: 15px;
   height: 15px;
   padding: 2px;
   margin: 4px;
   margin-right: 8px;
     
    margin-bottom: 5px;
   text-align: center;
   justify-content: center;
   cursor: pointer;
   font-size: 16px;
    align-items: center;
   
}


.exit-x h6:hover{
   background: rgb(255, 25, 25);
   color: white;
}

textarea{
    width: 90%;
    resize: none;
}




/* Styles for the archive container */



.archive-column {
    position: fixed;
    left: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Target every nth child of .column and apply margin-left */
.archive-column:nth-child(2n) {
    margin-left: 86px;
}


.archive-row {
    width: 60px;
    padding: 12px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 62px;
}

.archive-row:hover{
    background-color: rgba(110, 184, 245, 0.486);
}

#archive-container {
    display: none;
    position: absolute;
    min-width: 200px;
    min-height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 550px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    
}

/* Styles for the ARCHIVE folder input */
.archive-header{
    background: rgb(12, 8, 212);
    display: flex;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 10%;
    text-align: center;
    cursor: default;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

.exit-x{
    justify-content: center;
    align-items: center;
    display: flex;
  }
 
  
  .exit-x h6{
     background: rgb(241, 240, 240);
    display: flex;
    z-index: 999;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin: 4px;
    margin-right: 8px;
     margin-bottom: 5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
     align-items: center;
 }



#major-icon{
    width:  50px;
}

#twitter-icon{
    width:  50px;
}

#insta-icon{
    width: 50px;
}

#join-icon{
    width: 50px;
}

#chess-icon{
    width: 30px;
}



  /*MOBILE USERS VIEW*/
  @media only screen and (max-width: 600px) 
  {
    
.back-img{
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    position: fixed;
    z-index: -555;
    filter: blur(0.7px); 
    top:40%;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(166, 181, 196);
    border: 2px solid rgba(255, 255, 255, 0.507);
    display: flex; /* Use flexbox to arrange sections horizontally */
    justify-content: space-between; /* Spread sections across the nav */
    align-items: center; /* Vertically center the content within sections */
    z-index: 800;
}


/* Add additional styles for each section as needed */
.left-nav {
    left: 0;
    right: 0;
    display: flex;
    height: 40px; /* Set a specific height */
    width: 250px;
    background-color: rgb(166, 181, 196);
    border: 0px solid rgba(255, 255, 255, 0.507);
    overflow: hidden;
    justify-content: space-evenly;
    
}



.right-nav {
    height: 40px; /* Set a specific height */
    width: 140px;
    background-color:  rgb(166, 181, 196);
    border: 2px solid rgba(255, 255, 255, 0.507);
    display: flex;
    align-items: center;
    overflow: hidden;
}


 /* START OF LEFT NAV */

.start-btn{
    position: inherit;
    display: inline-flex;
    margin: 5px;

    width: 250px;
    height: 28px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    filter: blur(0.5px); 
}

.start-btn:hover{
     background-color:  rgba(255, 255, 255, 0.63);
     
}

#start-txt{
    padding-right: 5px;
    position: inherit;
    font-size: 18px;
    top:-30px;
    filter: blur(0.5px); 
    
}

#start-img{
    position: inherit;
    width: 35px;
    padding: 5px;
    transform: rotate(-20deg);
    filter: blur(0.5px); 
}

#note-icon{
    position: inherit;
    width: 30px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    filter: blur(0.7px); 
}

#note-icon:hover{
    background:rgba(255, 255, 255, 0.63);
}

#e-icon{
    margin-top: -3px;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    cursor: pointer;
    filter: blur(0.5px); 
}



#e-icon:hover{
    background:rgba(255, 255, 255, 0.63);
}

.start-icons{
    display: flex;
    width: 120px;
    padding-right: 10px;
    filter: blur(0.5px); 
}

 /* END OF LEFT NAV */


 /* START OF RIGHT NAV */

#clock{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 12px;
    filter: blur(0.52px); /* Apply a blur effect with a 5px radius */
    text-align: right;
    margin-right: 10px;
    cursor: default;
}

.icon{
    display: block;
    width: 30px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    filter: blur(0.7px); 
}

.icon:hover{
    background:rgba(255, 255, 255, 0.63);
}

 /* END OF RIGHT NAV */



 /* START OF HOME */

.page-container {
    width: 100%;
    display: grid;
    left: 0;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    gap: 20px; /* Add spacing between columns and rows */
    margin: 0 auto; /* Center the layout horizontally */
    justify-content: start; /* Start the grid from the left */
}

.column {
    position: fixed;
    left: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Target every nth child of .column and apply margin-left */
.column:nth-child(2n) {
    margin-left: 86px;
}


.row {
    width: 60px;
    padding: 12px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 62px;
}


.home-icon{
    width: 40px;
    cursor: pointer;
    filter: blur(0.7px); 
}


.row:hover{
    background-color: rgba(110, 184, 245, 0.486);
}

header{
    cursor: pointer;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

 /* END OF HOME */



 /* START OF MSGS */
 .msg-container{
    background: rgb(241, 240, 240);
    z-index: 999;
    position: absolute;
    width: 300px;
    height: 200px;
     left:50px;
     top: 150px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    display: none;
 }

 #header{
    background: rgb(12, 8, 212);
    display: flex;
    z-index: 999;
    width: 99.2%;
    height: 13%;
    text-align: center;
    cursor: default;
    justify-content: space-between;
    margin: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    
    
 }

 #header-x{
   justify-content: center;
   align-items: center;
   display: flex;
 }

 #header-x h6{
     background: rgb(241, 240, 240);
    display: flex;
    z-index: 999;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin: 4px;
     margin-bottom: 5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
     align-items: center;
    
 }

 
 #header-x h6:hover{
    background: rgb(255, 25, 25);
    color: white;
 }

 .title-msg{
   color: white;
   width: 10px;
   padding: 2px;
   text-align: left;
   justify-content: left;
    bottom: 0;
     width: 90%;
     padding-left: 10px;
     font-size: 13px;
}

#body-msg{
    cursor: default;
    font-size: 20px;
    padding-top: 20px;
    width: 100%;
    text-align: center;    
}

.msg-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btn{
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.btn:hover{
    background:rgba(255, 255, 255, 0.63);
}

.btn:nth-child(2) {
    margin-left: 80px;
}


/* Styles for the notepad container */
#notepad-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: hidden;
    
}

/* Styles for the notepad input */
#notepad-input {
    width: 99%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
}


.notepad-header{
    background: rgb(12, 8, 212);
    display: flex;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 10%;
    text-align: center;
    cursor: default;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    
 }

 .exit-x{
   justify-content: center;
   align-items: center;
   display: flex;
 }

 
 .exit-x h6{
    background: rgb(241, 240, 240);
   display: flex;
   z-index: 999;
   width: 15px;
   height: 15px;
   padding: 2px;
   margin: 4px;
   margin-right: 8px;
     
    margin-bottom: 5px;
   text-align: center;
   justify-content: center;
   cursor: pointer;
   font-size: 16px;
    align-items: center;
   
}


.exit-x h6:hover{
   background: rgb(255, 25, 25);
   color: white;
}

textarea{
    width: 90%;
    resize: none;
}

#mic{
    display: none;
}


#major-icon{
    width:  35px;
}

#twitter-icon{
    width: 35px;
}

#insta-icon{
    width: 35px;
}

#join-icon{
    width: 35px;
}

#chess-icon{
    width: 20px;
}

/* Styles for the ARCHIVE folder  */

#archive-container {
    display: none;
    position: absolute;
    min-width: 150px;
    min-height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    
}

.archive-header{
    background: rgb(12, 8, 212);
    display: flex;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 10%;
    text-align: center;
    cursor: default;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    font-size: 12px;
}

  }
